body {
	background: grey;
	font-family: Arial;
}

.assignment {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: #003366;
}

.assignment img {
	width: 200px;
	#padding: 10px;
	border: 3px solid black;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #E15757;
}


h1 {
	color: brown;
	text-align: center;
}